.App {
  text-align: center;
  background: rgb(191, 199, 235);
  margin: 0 auto;
  width: auto;
}

.nav {
  border: 5px solid blue;
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
}

.nav-item {
  margin: 10px;

}

a:-webkit-any-link { 
  display: inline-block;
  margin: 15px;
  text-decoration: none;
}

button {
  background: dodgerblue;
  border: 1px solid lightskyblue;
}

.Smurf {
  border: 2px solid white;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}
